/*--- Fonts Size Variables ---*/

$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-22: 1.375rem;

/*--- Fonts Weight Variables ---*/

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;
$font-black: 900;

/*--- Border Radius Variables ---*/

$radius-small: 4px;
$radius-normal: 8px;
$radius-absolute: 100%;

/*--- Color Project Design System Color ---*/

$orange-primary: #e25926;
$blue-primary: #4e73df;

$blue-darken: #4262be;

$text-color: #3a3b45;

$white: #ffffff;
$dark: #000000;
$gray: #5d6a76;